# ── Môi trường ────────────────────────────────────────────────────────────────
ENV=dev

# ── Ports (Cổng kết nối Host) ──────────────────────────────────────────────────
# Hãy thay đổi nếu các cổng này bị trùng lặp trên máy của bạn.
KAFKA_HOST_PORT=9092
KAFKA_UI_HOST_PORT=8082
MINIO_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
MONGO_HOST_PORT=27018
SPARK_MASTER_UI_HOST_PORT=8080
SPARK_MASTER_HOST_PORT=7077
SPARK_WORKER_UI_HOST_PORT=8083
AIRFLOW_WEBSERVER_HOST_PORT=8085

# ── Kafka ─────────────────────────────────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=localhost:${KAFKA_HOST_PORT}

# ── Data paths ─────────────────────────────────────
FB_DATA_DIR=data/facebook_data
IG_DATA_DIR=data/instagram_data
REDDIT_DATA_DIR=data/reddit_data

# ── MinIO ─────────────────────────────────────────────────────────────────────
MINIO_ENDPOINT=localhost:${MINIO_HOST_PORT}
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_BUCKET_RAW=social-raw
MINIO_BUCKET_CLEAN=social-clean

# ── MongoDB ───────────────────────────────────────────────────────────────────
MONGO_URI=mongodb://localhost:${MONGO_HOST_PORT}
MONGO_DB=social_db
MONGO_COLLECTION=posts_clean

# ── Kafka Consumer ────────────────────────────────────────────────────────────
KAFKA_CONSUMER_GROUP=batch-consumer-group
CONSUMER_FLUSH_SIZE=5000
CONSUMER_FLUSH_INTERVAL=120

# ── Spark ─────────────────────────────────────────────────────────────────────
SPARK_MASTER=local[*]
SPARK_APP_NAME=SocialBatchETL
S3A_ENDPOINT=http://localhost:${MINIO_HOST_PORT}