confluent-kafka==2.4.0
pyarrow==14.0.1
numpy<2
python-dotenv==1.0.1
requests==2.32.3
boto3==1.34.131
fastapi==0.111.0
uvicorn[standard]==0.29.0
prometheus-client==0.20.0
redis==5.0.4
langdetect==1.0.9
cassandra-driver==3.29.2
