# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

# Đường dẫn tới thư mục chứa crawl_facebook / crawl_instagram / crawl_reddit
DATA_DIR=/home/khang/Code/data-pipeline/IT4931/data/facebook_data,
    /home/khang/Code/data-pipeline/IT4931/data/instagram_data,
    /home/khang/Code/data-pipeline/IT4931/data/reddit_data
